<div>

	<!-- doormat -->
	<div class="doormat" style="z-index: 10 !important;">
        <div>{{activeView}}</div>

        <div dropdown on-toggle="toggled(open)"  class="menu-left">
            <button class="button viewport-menu-button" dropdown-toggle
                     style="width: 28px !important;" title="set viewport">
                     <i class="fa fa-eye fa-lg"></i>
                 <!--<span class="caret"></span>-->
            </button>

            <ul class="dropdown-menu " style="right: 2px!important;top:2px" >
            	<li ng-repeat='opt in viewports'>
            		<a href="#" ng-click = "changeView(opt.id)">{{opt.name}}</a>
            	</li>
            </ul>
        </div>

    </div>

    <div id='viewport'>
        <div three-viewport ng-if='selected==0'></div>
        <div topo-viewport ng-if='selected==1'></div>
        <div vizi-viewport id='viziViewport' ng-if='selected==2'></div>
        <div data-viewport ng-if='selected==3'></div>
        <div code-viewport ng-if='selected==4'></div>
        <div text-viewport ng-if='selected==5'></div>
    </div>

</div>